*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
}

html {
  font-size: calc(60% + 0.8vmin);
  position: relative;
  min-height: 100%;
}

body {
  background-color: #EFEFEF;
}

* {
  font-size: 1rem;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.3rem;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: rgb(109, 112, 207);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

  button:hover {
    background-color: rgb(1, 1, 65);
  }

.main {
  max-width: 80rem;
  margin: 0 auto;
}

.loading, .error {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 50px;
}

.error {
  color: red;
}

.wizard-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  justify-items: center;
}

.wizard-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
  max-width: 300px;
  text-align: center;
  transition: transform 0.3s ease;
  cursor: pointer;
}

  .wizard-card:hover {
    transform: translateY(-5px);
  }

.wizard-description {
  font-size: 1rem;
  color: #666;
  padding: 0 10px 20px;
}

.wizard-detail {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 600px;
  margin: 20px auto;
}

.wizard-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: top;
}

.wizard-image-detail {
  height: 300px;
  object-fit: cover;
  object-position: top;
}

.wizard-name {
  font-size: 1.5rem;
  margin: 10px 0;
  color: #333;
}
