.header {
  width: 100%;
  z-index: 1000;
  background: #F8F8F8;
  box-shadow: 0 10px 100px #0A0A0A1A;
}

.header-container {
  display: flex;
  align-items: center;
  padding: 1rem 2rem
}

.header-logo {
  width: 3rem;
  height: 3rem;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  display: block;
  border-radius: 50%;
}

.header-subtitle {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin-left: 1rem;
}
