:root {
  /* COLORS */
  --darkBlue: hsla(231, 42%, 28%, 1);
  --nightBlue: hsla(230, 34%, 46%, 1);
  --lightBlue: hsla(230, 61%, 90%, 1);
  --correct: hsla(133, 46%, 71%, 1);
  --incorrect: hsla(360, 81%, 85%, 1);

  /* FONTS */
  --karla: 'Karla', sans-serif;
  --inter: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.question-text, 
h1 {
  font-family: var(--karla);
}

button,
p {
  font-family: var(--inter);
}

body {
  background-image: url(./images/blob1.svg), url(./images/blob2.svg);
  background-position: left bottom, right top;
  background-repeat: no-repeat;
  min-height: 100vh;
}

/* INTRO PAGE */

.intro-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.intro-page > h1 {
  color: var(--darkBlue);
  font-size: 31.25px;
}

.intro-page > p {
  color: var(--darkBlue);
  line-height: 24px;
  margin-bottom: 14px;
  margin-top: 7px;
}

.difficulty-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 14px;
}

.difficulty {
  display: flex;
  gap: 12px;
}

.easy span {
  color: rgba(11, 202, 11, 0.726);
  text-shadow: 0 0 10px rgba(11, 202, 11, 0.726);
}

.medium span {
  color: rgb(247, 204, 16);
  text-shadow: 0 0 10px rgb(247, 204, 16);
}

.hard span {
  color: rgb(247, 0, 0);
  text-shadow: 0 0 10px rgb(247, 0, 0);
}

label {
  font-family: var(--karla);
  font-size: 16px;
}

.main-button {
  background-color: var(--nightBlue);
  border: none;
  border-radius: 16px;
  color: white;
  cursor: pointer;
  font-weight: 500;
  padding: 16px 60px;
  transition: opacity 0.2s;
}

.main-button:hover {
  opacity: 0.8;
}

/* MAIN PAGE */

.main-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 25px 75px;
}

.quiz-container {
  margin-bottom: 20px;
}

.question-container {
  border-bottom: 1px solid #DBDEF0;
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-width: 100%;
  padding: 15px 0;
}

.question-text {
  color: var(--darkBlue);
  font-size: clamp(1rem, 3vw, 1.75rem);
}

.answers {
  column-gap: 8px;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
  row-gap: 8px;
}

.answer-button {
  background-color: transparent;
  border: 1px solid var(--nightBlue);
  border-radius: 8px;
  color: var(--darkBlue);
  cursor: pointer;
  font-size: clamp(0.75rem, 2vw, 1rem);
  font-weight: 500;
  padding: 4px 20px;
  text-align: center;
  transition: box-shadow 0.1s;
}

.answer-button:hover {
  box-shadow: 0 0 4px var(--nightBlue);
}

.selected {
  background-color: var(--lightBlue);
  border: none;
}

.checked {
  opacity: 0.5;
}

.correct-answer {
  background-color: var(--correct);
  border: none;
}

.incorrect-answer {
  background-color: var(--incorrect);
  border: none;
}

.result-container {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: space-evenly;
  width: 100%;
}

.result-container > button {
  font-size: clamp(0.25rem, 3vw, 1rem);
  height: 40px;
  padding: 0;
  min-width: 28%;
  white-space: nowrap;
}

.result {
  color: var(--darkBlue);
  font-size: clamp(0.6rem, 3vw, 1.25rem);
  font-weight: bold;
  white-space: nowrap;
}