.pokemon-card {
    border: 2px solid #333;
    border-radius: 10px;
    width: 200px;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pokemon-image {
    width: 120px;
    height: 120px;
}

.pokemon-info {
    text-align: center;
}

.pokemon-name {
    margin: 0;
    font-size: 1.2rem;
    color: #333;
}

.pokemon-info p {
    margin: 5px 0;
    color: #555;
}

.pokemon-index {
    position: relative; /* Position the index number */
    top: 5px; /* Adjust top position */
    left: 5px; /* Adjust left position */
    background-color: #f00;
    color: #fff;
    border-radius: 5px;
    padding: 3px 6px;
    font-size: 0.8rem;
}